@import 'omgfonts.scss';
@import 'shared.scss';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

body {
  margin: 0;
  padding: 0;
  font-family: $font_regular;
  color: $dark_grey;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

header {
  background-color: #162d3d;
  height: 50px;
  width: 100%;
}

footer {
  height: 60px;
  background-color: #162d3d;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;

  a {
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;

    .text {
      font-weight: 100;
      font-size: 14px;
      display: block;
    }
  }
}

.header-logo {
    width: 121px;
    height: 30px;
    margin-top: 10px;
}

.main-container {
  width: 80%;
  margin: 0 auto;
  font-family: $font_regular;
  font-weight: 300;
}

.map {
  width: 100%;
  font-family: $font_regular;
  font-weight: 300;
}

.stop-heading {
  background-color: $grey;
  color: $dark_grey;
  font-size: 22px;
  font-weight: 300;
  height: 60px;
  text-align: left;
  vertical-align: middle;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.stop-preview {
  display: block;
  text-align: left;
  font-size: 18px;
  height: 60px;
  border-bottom: 1px solid $grey;
  padding-top: 10px;

  a {
    text-decoration: none;
    color: $dark_grey;
  }
}

.stop-title {
  text-transform: uppercase;
}

.arrivals {
  width: 100%;
}

.arrival-chip {
  color: $white;

  .p5  {background-color: $chip_red;}
  .p10 {background-color: $chip_yellow;}
  .p20 {background-color: $chip_grey;}
  .pnd {background-color: black;}
}

.arrival-bar {
  display: inline-block;
  width: 100%;
  height: 67px;
  line-height: 20px;
  font-size: 22px;
  border-bottom: 1px solid $grey;
  // color: $dark_grey;
  // background-color: $white;

  .p5  {background-color: $chip_red; color: $white;}
  .p10 {background-color: $chip_yellow; color: $white;}
  .p20 {background-color: $white; color: $dark_grey;}
}

.arrival-info {
  display: inline-block;
  float: left;
  width: 25%;
  padding: 8px 4px 4px;
  vertical-align: middle;
  text-align: left;
}

.description-text {
  font-size: 12px;
}

.arrival-time {
  display: inline-block;
  float: right;
  font-style: italic;
  padding-right: 4px;
  vertical-align: middle;
}
