@import 'omgfonts.scss';
@import 'shared.scss';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

body {
  margin: 0;
  padding: 0;
  font-family: $font_regular;
  color: $dark_grey;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

header {
  background-color: #162d3d;
  height: 50px;
  width: 100%;
}

footer {
  height: 60px;
  background-color: #162d3d;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;

  a {
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;

    .text {
      font-weight: 100;
      font-size: 14px;
      display: block;
    }
  }
}

.header-logo {
    width: 121px;
    height: 30px;
    margin-top: 10px;
}

.main-container {
  width: 80%;
  margin: 0 auto;
  font-family: $font_regular;
  font-weight: 300;
}

.map-container {
  width: 100%;
  height: calc(100vh - 60px);
  margin: 0 auto;
  font-family: $font_regular;
  font-weight: 300;
}

.stop-map-preview {
  width: 100%;
  height: 130px;
  margin: 0 auto;
}

.stop-heading-bar {
  background-color: $grey;
  color: $dark_grey;
  height: 60px;
  text-align: left;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.stop-heading {
  font-size: 23px;
  font-weight: 300;
  text-transform: uppercase;
  text-overflow: ellipsis;
  padding-left: 10px
}

.favorite {
  padding: 10px;
}

.stop-preview {
  display: block;
  text-align: left;
  font-size: 18px;
  height: 60px;
  border-bottom: 1px solid $grey;
  padding-top: 10px;

  a {
    text-decoration: none;
    color: $dark_grey;
  }
}

.stop-title {
  font-size: 15px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.arrivals {
  width: 100%;
}

.arrival-chip {
  color: $white;
  font-size: 12px;
  padding: 3px 4px;
  margin: 0 3px 3px 0;
  height: 20px;
  border-radius: 2px;

  &.p5  { background-color: $chip_red; }
  &.p10 { background-color: $chip_yellow; }
  &.p20 { background-color: $chip_grey; }
  &.pnd { background-color: black; }
}

.arrival-bar {
  display: inline-block;
  width: 100%;
  height: 67px;
  line-height: 20px;
  font-size: 22px;
  border-bottom: 1px solid $grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &.p5  {background-color: $chip_red; color: $white;}
  &.p10 {background-color: $chip_yellow; color: $white;}
  &.p20 {background-color: $white; color: $dark_grey;}
}

.arrival-info {
  display: inline-block;
  float: left;
  width: 25%;
  padding: 8px 4px 4px;
  vertical-align: middle;
  text-align: left;
  overflow: hidden;
}

.description-text {
  font-size: 12px;
  text-overflow: ellipsis;
}

.arrival-time {
  display: inline-block;
  float: right;
  font-style: italic;
  padding-right: 4px;
  vertical-align: middle;
}
