@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600");
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
@font-face {
  font-family: 'omgtransit';
  src: url("../fonts/omgfonts.eot");
  src: url("../fonts/omgfonts.eot?#iefix") format("embedded-opentype"), url("../fonts/omgfonts.woff") format("woff"), url("../fonts/omgfonts.ttf") format("truetype"), url("../fonts/omgfonts.svg#omgtransit") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'omgtransit';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="omgicon-"] {
*/
[class*="icon-omg-"] {
  font-family: 'omgtransit';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle; }

.icon-omg-map:before {
  content: "\e600";
  font-size: 27px; }

.icon-omg-list:before {
  content: "\e601";
  font-size: 27px; }

.icon-omg-help:before {
  content: "\e602"; }

.icon-omg-filters:before {
  content: "\e603"; }

.icon-omg-feedback:before {
  content: "\e604"; }

.icon-omg-directions:before {
  content: "\e605"; }

.icon-omg-arrow-right:before {
  content: "\e606"; }

.icon-omg-arrow-left:before {
  content: "\e607"; }

.icon-omg-arrow-down:before {
  content: "\e608"; }

.icon-omg-alerts:before {
  content: "\e609"; }

.icon-omg-arrow-up:before {
  content: "\e60a"; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #686868;
  font-size: 14px;
  line-height: 20px;
  text-align: center; }

header {
  display: inline-block;
  background-color: #162d3d;
  height: 50px;
  width: 100%; }

footer {
  height: 60px;
  background-color: #162d3d;
  position: fixed;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  text-align: center; }
  footer a {
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    font-size: 24px;
    text-decoration: none; }
    footer a.active {
      color: #ef502e; }
    footer a .text {
      font-weight: 100;
      font-size: 14px;
      display: block; }

@media (max-width: 767px) {
  .header-container {
    width: 100%; }
  .main-container {
    width: 100%; }
  .heading, .stop-heading {
    font-size: 19px; }
  .arrival-time {
    font-size: 16px; }
  .description-text {
    font-size: 10.5px; } }

@media (min-width: 768px) {
  .header-container {
    width: 90%; }
  .main-container {
    width: 90%; }
  .heading, .stop-heading {
    font-size: 23px; }
  .arrival-time {
    font-size: 20px; }
  .description-text {
    font-size: 12px; } }

@media (min-width: 1024px) {
  .header-container {
    width: 80%; }
  .main-container {
    width: 80%; } }

.header-container {
  height: 50px;
  margin: 0 auto; }

.main-container {
  margin: 0 auto;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300; }

.map-container {
  width: 100%;
  height: calc(100vh - 60px);
  margin: 0 auto;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300; }

#crosshair {
  position: absolute;
  height: 18px;
  width: 18px;
  top: -9px;
  left: -9px;
  transform-origin: -9px -9px;
  margin: 0;
  padding: 0;
  opacity: 0.6;
  user-select: none; }

#you-are-here {
  position: absolute;
  height: 18px;
  width: 18px;
  top: -11px;
  left: -11px;
  transform-origin: -11px -11px;
  margin: 0;
  padding: 0;
  background-color: royalblue;
  border: 2px solid white;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0 0 0 5px rgba(65, 105, 225, 0.3);
  user-select: none; }

.map-pin {
  position: absolute;
  cursor: pointer;
  height: 36.5px;
  width: 24px;
  background-size: 24px auto;
  background-repeat: no-repeat;
  background-origin: 12px 36.5px;
  top: -36.5px;
  left: -12px;
  margin: 0;
  padding: 0; }
  .map-pin.bus {
    background-image: url("../images/pin-bus.png"); }
    .map-pin.bus:hover {
      background-image: url("../images/pin-bus-hover.png"); }
  .map-pin.train {
    background-image: url("../images/pin-train.png"); }
    .map-pin.train:hover {
      background-image: url("../images/pin-train-hover.png"); }

.header-logo {
  width: 121px;
  height: 30px;
  padding-top: 10px; }

.back-button {
  padding-left: 10px;
  padding-top: 10px;
  color: white;
  float: left; }

.stop-map-preview {
  width: 100%;
  height: 130px;
  margin: 0 auto; }

.heading-bar {
  background-color: #efefef;
  color: #686868;
  height: 60px;
  text-align: left;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.heading, .stop-heading {
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  text-overflow: ellipsis;
  padding: 10px; }

.stop-heading {
  font-weight: 300; }

.favorite {
  padding: 10px; }

.bottom-border {
  border-bottom: 1px solid #efefef; }

.stop-preview {
  display: block;
  text-align: left;
  font-size: 18px;
  height: 60px;
  border-bottom: 1px solid #efefef;
  padding-top: 10px;
  padding-left: 10px; }
  .stop-preview a {
    text-decoration: none;
    color: #686868; }
  .stop-preview:hover {
    background-color: #efefef; }

.stop-title {
  font-size: 15px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.arrivals {
  width: 100%; }

.stop-arrival-chips {
  white-space: nowrap;
  overflow: hidden; }

.arrival-chip {
  color: #fff;
  font-size: 12px;
  padding: 3px 4px;
  margin: 0 3px 3px 0;
  height: 20px;
  border-radius: 2px; }
  .arrival-chip.p5 {
    background-color: #b94a48; }
  .arrival-chip.p10 {
    background-color: #f89406; }
  .arrival-chip.p20 {
    background-color: #c0c0c0; }
  .arrival-chip.pnd {
    background-color: black; }

.arrival-bar {
  display: inline-block;
  width: 100%;
  height: 67px;
  line-height: 20px;
  font-size: 22px;
  border-bottom: 1px solid #efefef;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .arrival-bar.p5 {
    background-color: #b94a48;
    color: #fff; }
  .arrival-bar.p10 {
    background-color: #f89406;
    color: #fff; }
  .arrival-bar.p20 {
    background-color: #fff;
    color: #686868; }
  .arrival-bar.pnd {
    background-color: black;
    color: #fff; }

.arrival-info {
  display: inline-block;
  float: left;
  padding: 8px 4px 4px;
  vertical-align: middle;
  text-align: left;
  overflow: hidden; }

.description-text {
  text-overflow: ellipsis; }

.arrival-time {
  display: inline-block;
  float: right;
  font-style: italic;
  padding-right: 4px;
  vertical-align: middle; }
