@import 'omgfonts.scss';
@import 'shared.scss';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

body {
  margin: 0;
  padding: 0;
  font-family: $font_regular;
  color: $dark_grey;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

header {
  display: inline-block;
  background-color: #162d3d;
  height: 50px;
  width: 100%;
}

footer {
  height: 60px;
  background-color: #162d3d;
  position: fixed;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  text-align: center;

  a {
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;

    &.active {
      color: $bg_red;
    }

    .text {
      font-weight: 100;
      font-size: 14px;
      display: block;
    }
  }
}

@media (max-width: 767px) {
  .header-container { width: 100%; }
  .main-container { width: 100%; }
  .heading { font-size: 19px; }
  .arrival-time { font-size: 16px; }
  .description-text { font-size: 10.5px; }
}

@media (min-width: 768px) {
  .header-container { width: 90%; }
  .main-container { width: 90%; }
  .heading { font-size: 23px; }
  .arrival-time { font-size: 20px; }
  .description-text { font-size: 12px; }
}

@media (min-width: 1024px) {
  .header-container { width: 80%; }
  .main-container { width: 80%; }
  // .heading { font-size: 23px; }
  // .arrival-bar { font-size: 22px; }
  // .arrival-time { font-size: 20px; }
  // .description-text { font-size: 12px; }
}

.header-container {
  height: 50px;
  margin: 0 auto;
}

.main-container {
  margin: 0 auto;
  font-family: $font_regular;
  font-weight: 300;
}

.map-container {
  width: 100%;
  height: calc(100vh - 110px);
  margin: 0 auto;
  font-family: $font_regular;
  font-weight: 300;
}

#map-center {
  background-image: url('../images/crosshair.svg');
  position: absolute;
  height: 18px;
  width: 18px;
  background-size: 18px auto;
  background-repeat: no-repeat;
  background-origin: -9px -9px;
  top: -9px;
  left: -9px;
  margin: 0;
  padding: 0;
  opacity: 0.6;
  user-select: none;
}

#you-are-here {
  position: absolute;
  height: 18px;
  width: 18px;
  top: -10px;
  left: -10px;
  transform-origin: -10px -10px;
  margin: 0;
  padding: 0;
  background-color: royalblue;
  border: 1px solid white;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(65, 105, 225, 0.3);
  user-select: none;
}

.map-pin {
  position: absolute;
  height: 36.5px;
  width: 24px;
  background-size: 24px auto;
  background-repeat: no-repeat;
  background-origin: 12px 36.5px;
  top: -36.5px;
  left: -12px;
  margin: 0;
  padding: 0;
  &:not(.disabled) { cursor: pointer; }

   &.bus { background-image: url('../images/pin-bus.png');
    &:hover:not(.disabled) { background-image: url('../images/pin-bus-hover.png'); }
  }

  &.train { background-image: url('../images/pin-train.png');
    &:hover:not(.disabled) { background-image: url('../images/pin-train-hover.png'); }
  }
}

.header-logo {
  width: 121px;
  height: 30px;
  padding-top: 10px;
}

.back-button {
  padding-left: 10px;
  padding-top: 10px;
  color: white;
  float: left;
}

.location-arrow {
  padding-right: 10px;
  padding-top: 10px;
  color: white;
  float: right;
}

.stop-map-preview {
  width: 100%;
  height: 130px;
  margin: 0 auto;
}

.heading-bar {
  background-color: $grey;
  color: $dark_grey;
  height: 60px;
  text-align: left;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  text-overflow: ellipsis;
  padding: 10px;
}

.stop-heading {
  @extend .heading;
  font-weight: 300;
}

.favorite {
  padding: 10px;

  a {
    text-decoration: none;
    color: $dark_grey;

    &.selected {
      color: $yellow_star;
    }
  }
}

.bottom-border {
  border-bottom: 1px solid $grey;
}

.stop-preview {
  display: block;
  text-align: left;
  font-size: 18px;
  height: 60px;
  border-bottom: 1px solid $grey;
  padding-top: 10px;
  padding-left: 10px;

  a {
    text-decoration: none;
    color: $dark_grey;
  }

  &:hover {
    background-color: $grey;
  }
}

.stop-title {
  font-size: 15px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.arrivals {
  width: 100%;
}

.stop-arrival-chips {
  white-space: nowrap;
  overflow: hidden;
}

.arrival-chip {
  color: $white;
  font-size: 12px;
  padding: 3px 4px;
  margin: 0 3px 3px 0;
  height: 20px;
  border-radius: 2px;

  &.p5  { background-color: $chip_red; }
  &.p10 { background-color: $chip_yellow; }
  &.p20 { background-color: $chip_grey; }
  &.pnd { background-color: black; }
}

.arrival-bar {
  display: inline-block;
  width: 100%;
  height: 67px;
  line-height: 20px;
  font-size: 22px;
  border-bottom: 1px solid $grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &.p5  {background-color: $chip_red; color: $white;}
  &.p10 {background-color: $chip_yellow; color: $white;}
  &.p20 {background-color: $white; color: $dark_grey;}
  &.pnd {background-color: black; color: $white;}
}

.arrival-info {
  display: inline-block;
  float: left;
  padding: 8px 4px 4px;
  vertical-align: middle;
  text-align: left;
  overflow: hidden;
}

.description-text {
  text-overflow: ellipsis;
}

.arrival-time {
  display: inline-block;
  float: right;
  font-style: italic;
  padding-right: 4px;
  vertical-align: middle;
}
